.header_bLekJe__zvQ1P {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #006400;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0 0;
    transform: translate(-100%);
    transition: transform .5s cubic-bezier(.77, .2, .05, 1) 0s
}

.header_bLekJe__zvQ1P a {
    text-decoration: none;
    color: #fff;
    transition: color .3s ease 0s;
    padding: 10px 0;
    font-size: 22px
}

@media (min-width:1024px) {
    .header_bLekJe__zvQ1P {
        display: none
    }
}

.header_jiqoMd__BUfX_ {
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.header_jiqoMd__BUfX_ input {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    margin: 0;
    top: -9px;
    left: -6px
}

.header_jiqoMd__BUfX_ span {
    display: block;
    width: 28px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0;
    transition: transform .5s cubic-bezier(.77, .2, .05, 1) 0s, background .5s cubic-bezier(.77, .2, .05, 1) 0s, opacity .55s ease 0s
}

.header_jiqoMd__BUfX_ span:first-of-type {
    margin-left: 8px;
    width: 20px;
    transform-origin: 100% 0
}

.header_jiqoMd__BUfX_ span:nth-last-child(2) {
    transform-origin: 100% 0;
    margin-left: 11px;
    width: 17px
}

.header_jiqoMd__BUfX_ input:checked~span {
    width: 28px;
    opacity: 1;
    transform: rotate(-45deg) translate(-3px, -4px);
    background: #fff;
    margin-left: 0
}

.header_jiqoMd__BUfX_ input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0) scale(.2)
}

.header_jiqoMd__BUfX_ input:checked~span:nth-last-child(2) {
    transform: rotate(45deg) translate(1px, 4px)
}

.header_jiqoMd__BUfX_ input:checked~.header_xnav__52axZ {
    transform: none
}

@media (min-width:1024px) {
    .header_jiqoMd__BUfX_ {
        display: none
    }
}

.header_hYUTym__SM7zi {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.header_ljHABS__IsMY4 {
    margin: 0 16px;
    display: inline-block
}

.header_ljHABS__IsMY4:before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 28px
}

.header_eDvJiP__C6pGH:before {
    background-image: url("../../../images/discord.png")
}

.header_eyrHBS__D0FSA:before {
    background-image: url("../../../images/twitter.png")
}

.header_ifkVCB__Huq7p:before {
    background-image: url("../../../images/telegram.png")
}

.header_kPTudf__RdoAg:before {
    background-image: url("../../../images/reddit.svg")
}

.header_ciURKf__6k7_A {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 20px 16px;
    top: 0;
    width: 100%;
    z-index: 10;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(29, 21, 40, .09)
}

@media (min-width:1024px) {
    .header_ciURKf__6k7_A {
        padding: 20px 70px
    }
}

.header_lfSIdg__mw1Mz {
    display: flex;
    align-items: center;
    width: 227px
}

@media (min-width:1024px) {
    .header_lfSIdg__mw1Mz {
        width: 222px
    }
}

.header_APGtA__QtMch {
    display: none
}

@media (min-width:1024px) {
    .header_APGtA__QtMch {
        display: flex;
        align-items: center;
        justify-content: center
    }
    .header_APGtA__QtMch a {
        font-weight: 600;
        font-family: Inter, sans-serif;
        color: #fff;
        font-size: 20px;
        line-height: 1.2;
        margin-right: 24px;
        transition: opacity .2s ease 0s;
        opacity: 1
    }
    .header_APGtA__QtMch a:hover {
        opacity: .6
    }
    .header_APGtA__QtMch a:first-letter {
        text-transform: uppercase
    }
    .header_APGtA__QtMch span {
        font-family: Inter, sans-serif;
        color: #fff;
        font-size: 25px;
        line-height: 1.2;
        display: block;
        margin: 0 4px 0 0
    }
}

.header_etngLB__9sNZJ {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

@media (min-width:1024px) {
    .header_ghuYyE__Gp6tl {
        width: 28px;
        height: 28px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 28px;
        margin: 0 20px
    }
    .header_fNLbOu__MWeab {
        background-image: url("images/discord.png")
    }
    .header_lcygYF__rK6KL {
        background-image: url("images/twitter.png")
    }
    .header_ercOM__krrXD {
        background-image: url("images/telegram.png")
    }
    .header_djnSSc__13OCo {
        background-image: url("images/reddit.svg")
    }
}

.footer_eWXdWO__JZCoY {
    padding: 20px 0;
    position: relative;
    z-index: 1;
    display: flex
}

@media (min-width:1024px) {
    .footer_eWXdWO__JZCoY {
        padding: 40px 0;
        margin-top: 40px;
        border-top: 1px solid hsla(0, 0%, 67%, .2)
    }
}

.footer_eyEJqe__NrVBE {
    width: 100%;
    display: flex;
    flex-direction: column
}

@media (min-width:1024px) {
    .footer_eyEJqe__NrVBE {
        width: 980px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        flex-direction: row
    }
}

.footer_eyEJqe__NrVBE p {
    font-family: Inter, sans-serif;
    color: hsla(0, 0%, 100%, .8);
    font-size: 14px;
    line-height: 1.2
}

.footer_eYNmtA__fPqS6 {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 2
}

@media (min-width:1024px) {
    .footer_eYNmtA__fPqS6 {
        order: 1
    }
}

.footer_drCTcp__Brzjf {
    margin: 0 14px 0 0;
    width: 41px;
    height: 30px
}

@media (min-width:1024px) {
    .footer_drCTcp__Brzjf {
        width: 64px;
        height: 47px;
        margin: 0 20px 0 0
    }
}

.footer_jOvOhy__F_G5_ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    order: 1;
    flex-direction: column;
    margin-bottom: 20px;
    border-bottom: 1px solid hsla(0, 0%, 67%, .2);
    padding: 0 30px 20px
}

@media (min-width:1024px) {
    .footer_jOvOhy__F_G5_ {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        order: 2;
        margin-bottom: 0;
        padding: 0;
        border-bottom: none
    }
}

.footer_QvOHG__HTe3g {
    order: 2
}

@media (min-width:1024px) {
    .footer_QvOHG__HTe3g {
        order: 1
    }
}

.footer_QvOHG__HTe3g a {
    display: inline-block;
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    margin-top: 20px
}

.footer_QvOHG__HTe3g a span {
    transition: opacity .2s ease 0s;
    opacity: 1
}

.footer_QvOHG__HTe3g a span:hover {
    opacity: .6
}

.footer_QvOHG__HTe3g a:not(:first-child):before {
    content: "|";
    display: inline-block;
    margin: 0 12px
}

@media (min-width:1024px) {
    .footer_QvOHG__HTe3g a {
        font-weight: 700;
        font-size: 16px;
        margin-top: 0
    }
    .footer_QvOHG__HTe3g a:before {
        display: none !important
    }
    .footer_QvOHG__HTe3g a:after {
        content: "|";
        display: inline-block;
        margin: 0 24px
    }
}

.footer_ekFRem__L3yLr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    order: 1
}

@media (min-width:1024px) {
    .footer_ekFRem__L3yLr {
        order: 2
    }
}

.footer_hshyCT__18YjZ {
    width: 22px;
    height: 22px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 22px;
    margin: 0 0 0 28px;
    transition: opacity .2s ease 0s;
    opacity: 1
}

.footer_hshyCT__18YjZ:hover {
    opacity: .6
}

.footer_hshyCT__18YjZ:first-child {
    margin: 0
}

@media (min-width:1024px) {
    .footer_hshyCT__18YjZ {
        width: 28px;
        height: 28px;
        background-size: 28px;
        margin: 0 0 0 40px
    }
    .footer_hshyCT__18YjZ:first-child {
        margin: 0
    }
}

.footer_cxwjfi__OcyBV {
    background-image: url("images/discord.png")
}

.footer_iTxPMv__FPhm_ {
    background-image: url("images/twitter.png")
}

.footer_bMpWqf__z6Q_s {
    background-image: url("images/telegram.png")
}

.footer_bBijkN__zMJLQ {
    background-image: url("images/reddit.svg")
}

.footer_emIpmc__guOFc {
    margin-top: -20px
}

@media (min-width:1024px) {
    .footer_emIpmc__guOFc {
        margin-top: 1px
    }
}

.post-footer_czOkDb__l4poY {
    position: absolute;
    width: 100%;
    height: 1370px;
    background: url("../../../images/blob_3_m.png") 0 0/cover no-repeat;
    left: 0;
    bottom: 0;
    z-index: -1
}

@media (min-width:768px) {
    .post-footer_czOkDb__l4poY {
        width: 1330px;
        height: 1415px;
        background: url("../../../images/blob_3.png") 0 0/1330px no-repeat;
        left: 50%
    }
}

.terms_page_content__TxDfR {
    font-family: Inter, sans-serif;
    text-rendering: optimizespeed;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    z-index: 1;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto
}

.terms_page_content__TxDfR:before {
    content: "";
    display: block;
    position: absolute;
    width: 2225px;
    height: 1376px;
    background-color: #006400;
    top: 0;
    left: 0;
    z-index: -1
}

@media (min-width:1024px) {
    .terms_page_content__TxDfR {
        min-width: 1280px;
        margin: 0 auto
    }
    .terms_page_content__TxDfR:before {
        width: 2225px;
        height: 1376px;
        top: 0;
        left: calc(50% - 1000px)
    }
}

.terms_page_content__TxDfR b {
    font-weight: 700
}

.terms_jDiIcy__QYoaW {
    width: 100%;
    max-width: 100vw;
    margin-top: 8rem
}

@media (min-width:1024px) {
    .terms_jDiIcy__QYoaW {
        margin: 0 auto 120px;
        width: 800px
    }
}

.terms_iKeidw__daeG1 {
    font-weight: 900;
    font-family: Inter, sans-serif;
    color: #fff;
    font-size: 48px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 100px
}

@media (min-width:1024px) {
    .terms_iKeidw__daeG1 {
        font-size: 64px;
        margin-top: 275px;
        margin-bottom: 150px
    }
}

.terms_kSUCsI__sRQsA {
    color: #fff;
    font-weight: 600;
    font-family: Inter, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center
}

.terms_hQTfW__URZBg {
    margin-bottom: 50px
}

.terms_hQTfW__URZBg p {
    font-weight: 400;
    font-family: Inter, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 22px
}

.terms_hQTfW__URZBg ol li,
.terms_hQTfW__URZBg p,
.terms_hQTfW__URZBg ul li {
    text-align: justify
}

.terms_hQTfW__URZBg a {
    color: #ff0d75;
    text-decoration: underline
}

.terms_iIshnL__bnYt_ {
    padding-left: 30px
}

@media(max-width:768px) {
    .terms_jDiIcy__QYoaW {
        padding-left: 27px;
        padding-right: 27px
    }
}